<!DOCTYPE html>
<head>
<link rel="stylesheet" href="history.css">
</head>
<body>
    <div class="container">
		<div class="section-title text-center">
		</div>				
    <div class="container">
        <div class="table-wrap">
            <center><table class="table table-responsive table-borderless"></center>
                <thead>
                    <th>Nama Penyewa</th>
                    <th>Nama Gedung</th>
                    <th>Tanggal Reservasi</th>
                    <th>Tanggal Check In</th>
                    <th>Durasi</th>
            
                </thead>
                <tbody>
                    <tr class="align-middle alert border-bottom" role="alert">
                        <td class="text-center">
                            <img class="pic"
                                src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                                <div class="col-md-8"><a>Richad Harry </a></div>
                        </td>
                        <td>
                            <div>
                                <center><p class="m-0 fw-bold">Smesco Convention Hall</p></center>
                            </div>
                        </td>
                        <td class="d-">
                            <center><p>10/02/2023</p></center>
                        </td>
                        <td>
                            <center><p>15/03/2023</p></center>
                        </td>
                        <td>
                            <center><div class="fw-600">2 jam</div></center>
                        </td>
        
                    </tr>
                    <tr class="align-middle alert border-bottom" role="alert">
                        <td class="text-center">
                            <img class="pic"
                                src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                                <div class="col-md-8"><a>Mikhayla Laras </a></div>
                        </td>
                        <td>
                            <div>
                                <center><p class="m-0 fw-bold">Ayaka Suites Seruni 1</p></center>
                            </div>
                        </td>
                        <td class="d-">
                            <center><p>12/03/2023</p></center>
                        </td>
                        <td>
                            <center><p>19/03/2023</p></center>
                        </td>
                        <td>
                            <center><div class="fw-600">3 jam</div></center>
                        </td>
                
                    </tr>
                    <tr class="align-middle alert border-bottom" role="alert">
                        <td class="text-center">
                            <img class="pic"
                                src="https://bootdey.com/img/Content/avatar/avatar4.png" class="img-fluid" alt="">
                                <div class="col-md-8"><a>James</a></div>

                        </td>
                        <td>
                            <div>
                                <center><p class="m-0 fw-bold">Cyber 2 Tower</p></center>
                            </div>
                        </td>
                        <td class="d-">
                            <center><p>18/03/2023</p></center>
                        </td>
                        <td>
                            <center><p>27/03/2023</p></center>
                        </td>
                        <td>
                            <center><div class="fw-600">2 jam</div></center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
